# docker-compose.yaml

version: '{{ docker_compose_version }}'
services: 

{% for server in servers %}

  {{ server.name }}:
    image: lloesche/valheim-server
    ports:
      - {{ server.port }}:{{ server.port }}/udp
      - {{ server.port + 1 }}:{{ server.port + 1 }}/udp
      - {{ server.port + 2 }}:{{ server.port + 2 }}/udp
    env_file:
      - {{ directories_files }}/{{ server.name }}/.env
    volumes:
      - {{ directories_files }}/{{ server.name }}/saves:/config
      - {{ directories_files }}/{{ server.name }}/server:/opt/valheim

{% endfor %}
