# docker-compose.yaml

version: '3.8'
services: 

{% for server in servers %}

  {{ server.name }}:
    image: lloesche/valheim-server
    ports:
      - {{ server.port }}:{{ server.port }}/udp
      - {{ server.port + 1 }}:{{ server.port + 1 }}/udp
      - {{ server.port + 2 }}:{{ server.port + 2 }}/udp
    env_file:
      - {{ config_dir }}/{{ server.name }}/.env
    volumes:
      - {{ data_dir }}/{{ server.name }}/saves/:/config/
      - {{ data_dir }}/{{ server.name }}/server/:/opt/valheim/

{% endfor %}
