#!/usr/bin/env bash

export templdpath=$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=./linux64:$LD_LIBRARY_PATH
export SteamAppId=892970

echo "Starting server PRESS CTRL-C to exit"

/usr/games/steamcmd +login anonymous +force_install_dir {{ install_dir }} +app_update {{ steam_game_id }} +quit

# NOTE: Minimum password length is 5 characters & Password cant be in the server name.
# NOTE: You need to make sure the ports 2456-2458 is being forwarded to your server through your local router & firewall.
./valheim_server.x86_64 -name "{{ server.name }}" -port {{ server.port }} -nographics -world "{{ server.name }}" -password "{{ server.password }}" > /dev/null &

export LD_LIBRARY_PATH=$templdpath

while :
do
TIMESTAMP=$(date '+%Y-%m-%d %H:%M:%S')
echo "valheim.service: timestamp ${TIMESTAMP}"
sleep 60
done
